/* Réinitialisation des styles par défaut */
body, h1, h2, p, table {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("téléchargement (1).jpg");
    background-size: cover;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    position: relative;
}

/* Styles spécifiques pour la superposition de couleur semi-transparente */
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Couleur semi-transparente blanche */
    z-index: -1; /* Place la superposition en dessous du contenu */
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* Styles spécifiques pour la page d'accueil */
header p {
    font-size: 18px;
    text-align: center;
}

/* Styles spécifiques pour le formulaire de promesse de don */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Styles spécifiques pour la page de liste des promesses de don */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

thead th {
    background-color: #f2f2f2;
}

/* Styles spécifiques pour le total récolté */
.total {
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}