<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <title>Thank You</title>
</head>
<body>
    <header>
        <h1>Thank You</h1>
        <p>Merci beaucoup pour votre promesse de don !</p>
    </header>
    <main>
        <p>Nous vous sommes très reconnaissants de votre générosité et de votre soutien à notre cause.</p>
        <p>Nous vous recontacterons très prochainement pour confirmer votre don.</p>
    </main>
    <footer>
        <p>Contactez-nous : @pmguevel@gmail.com</p>
    </footer>
</body>
</html>